

h1 {
    color: black;
    text-align: center;
    margin-left: 40px;
    font-family:Arial


}
{}
p {
    font-family: "Arial";
    font-size: 26px;
}

body { background-color: #99FF99 ;}
{text-align: center }
#page-wrap { text-align: center
width: 500px ;
margin: 0 auto ;
}
